<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source = CVDB3, 1444; Initial Catalog = MockDataDB; User id=CV-PC-X-03; Password=AspIT9876; Integrated Security=False;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingSettings" maxBufferPoolSize="524288"
          maxReceivedMessageSize="5242880">
          <readerQuotas maxStringContentLength="5242880" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- [Services] -->
    <services>
      <service name="AspIT.MockDataServices.Services.MockNamesJsonService" behaviorConfiguration="MockDataServiceBehaviour">
        <endpoint contract="AspIT.MockDataServices.Services.IMockNamesJsonService"
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBindingSettings"
                  address="">
        </endpoint>
      </service>
    </services>
    <!-- /[Services] -->

    <!-- [Behaviors] -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="MockDataServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- /[Behaviors] -->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!-- [Modules] -->
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- /[Modules] -->
    
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>