<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="Data Source = CVDB3, 1444; Initial Catalog = MockDataDB; Persist Security Info=False; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name = "wsHttpBinding_MockNames">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <!-- [Services] -->
    <services>
      <service name="AspIT.MockDataServices.Services.MockNamesJsonService">
        <endpoint contract="AspIT.MockDataServices.Services.IMockNamesJsonService"
                  binding="wsHttpBinding"
                  address="">
        </endpoint>
      </service>
    </services>
    <!-- /[Services] -->

    <!-- [Behaviors] -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- /[Behaviors] -->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!-- [Modules] -->
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- /[Modules] -->
    
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>